<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon"> <!--- Meter Favicon nas Paginas -->

    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/fontawesome/css/all.css'>
    <link rel='stylesheet' href='/stylesheets/fontawesome/css/solid.min.css'>
    <link rel="stylesheet" href="/stylesheets/bulma/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/header.css'>
    <link rel='stylesheet' href='/stylesheets/sidebar.css'>
    <link rel='stylesheet' href='/stylesheets/dashboard.css'>
    <link rel='stylesheet' href='/stylesheets/about.css'>
</head>

<body>
    <header>
        <div class="left-area">
            <!-- 
            <div class="btn-menu">
                <i class="fa fa-bars" id="btn-menu"></i>
            </div> -->

            <h3>Gestão <span>LAB</span></h3>
        </div>

        <div class="right-area">

            <span class="date-display">
                <span><i class="fa fa-calendar"></i></span>
                <span class="date-display-info">
                    <%=new Date()%>
                </span>
            </span>

            <span class="account btn-account">
                <span class="icone icon">
                    <i class="fa fa-circle-user"></i>

                    <ul class="toggle-account-element hide" id="menu-perfil">
                        <li class="account-element" id="username">
                            <span class="username">
                                <%= usuario.username%>
                            </span>
                        </li>

                        <li class="account-element link">
                            <a href="/perfil">
                                <span class="icone icon">
                                    <i class="fa-solid fa-user"></i>
                                </span>
                                <span class="text-link">
                                    Perfil
                                </span>
                            </a>
                        </li>

                        <li class="account-element link">
                            <a href="/logout">
                                <span class="icone icon">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </span>
                                <span class="text-link">
                                    Sair
                                </span>
                            </a>
                        </li>

                    </ul>
                </span>
            </span>
        </div>
    </header>