<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon"> <!--- Meter Favicon nas Paginas -->

    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/fontawesome/css/all.css'>
    <link rel='stylesheet' href='/stylesheets/fontawesome/css/solid.min.css'>
    <link rel="stylesheet" href="/stylesheets/bulma/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/header.css'>
    <link rel='stylesheet' href='/stylesheets/sidebar.css'>
    <link rel='stylesheet' href='/stylesheets/dashboard.css'>
</head>

<body>
    <header>
        <div class="left-area">
            <!-- 
            <div class="btn-menu">
                <i class="fa fa-bars" id="btn-menu"></i>
            </div> -->

            <h3>Gestão <span>LAB</span></h3>
        </div>

        <div class="right-area">
            <strong id="username">&lt;&sol;<%= userLogado = "Manuel Kalueka" %>&gt;</strong>
            <!-- <a href="#" class="logout-btn btn">Terminar Sessão</a> -->
        </div>
    </header>