<!-- SiDEBAR   -->
<nav class="menu-lateral">
    <!--
        Botao que abre e fecha o menu
         <div class="btn-menu">
            <i class="fa fa-bars" id="btn-menu"></i>
        </div>
        -->
    <ul>
        <li class="item-menu">
            <a href="/laboratorios">
                <span class="icone icon">
                    <i class="fa-solid fa-house"></i>
                </span>
                <span class="text-link">
                    Ínício
                </span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/logout">
                <span class="icone icon">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </span>
                <span class="text-link">
                    Sair
                </span>
            </a>
        </li>
    </ul>
</nav>
<!-- End  -->