<!-- SiDEBAR   -->
<nav class="menu-lateral">
    <!--
        Botao que abre e fecha o menu
         <div class="btn-menu">
            <i class="fa fa-bars" id="btn-menu"></i>
        </div>
        -->
    <ul>
        <li class="item-menu">
            <a href="/dashboard">
                <span class="icone icon">
                    <i class="fa fa-chart-line"></i>
                </span>
                <span class="text-link">
                    Dashboard
                </span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/materiais">
                <span class="icone icon">
                    <i class="fa fa-screwdriver-wrench"></i>
                </span>
                <span class="text-link">
                    Materiais
                </span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/mesas">
                <span class="icone icon">
                    <i class="fa fa-desktop"></i>
                </span>
                <span class="text-link">
                    Mesas
                </span>
            </a>
        </li>

        <!-- <li class="item-menu">
            <a href="/relatorios">
                <span class="icone icon">
                    <i class="fa fa-file"></i>
                </span>
                <span class="text-link">
                    Relatórios
                </span>
            </a>
        </li> -->

        <li class="item-menu">
            <a href="/usuarios">
                <span class="icone icon">
                    <i class="fa-solid fa-user"></i>
                </span>
                <span class="text-link">
                    Usuários
                </span>
            </a>
        </li>

        <!-- <li class="item-menu">
            <a href="/settings">
                <span class="icone icon">
                    <i class="fa fa-gear"></i>
                </span>
                <span class="text-link">
                    Configurações
                </span>
            </a>
        </li> -->
<!-- 
        <li class="item-menu">
            <a href="/about">
                <span class="icone icon">
                    <i class="fa fa-circle-info"></i>
                </span>
                <span class="text-link">
                    Sobre
                </span>
            </a>
        </li> -->
        <li class="item-menu">
            <a href="/laboratorios/close">
                <span class="icone icon">
                  <i class="fa-solid fa-repeat"></i>
                </span>
                <span class="text-link">Laboratórios</span>
            </a>
        </li>
    </ul>
</nav>
<!-- End  -->