<!-- SiDEBAR   -->
<nav class="menu-lateral">

        
    <ul>
        <li class="item-menu active-item">
            <a href="/dashboard">
                <span class="icone icon">
                    <i class="fa fa-chart-line"></i>
                </span>
                <span class="text-link">
                    Dashboard
                </span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/materiais">
                <span class="icone icon">
                    <i class="fa fa-screwdriver-wrench"></i>
                </span>
                <span class="text-link">
                    Materiais
                </span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/mesas">
                <span class="icone icon">
                    <i class="fa fa-desktop"></i>
                </span>
                <span class="text-link">
                    Mesas
                </span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/relatorios">
                <span class="icone icon">
                    <i class="fa fa-file"></i>
                </span>
                <span class="text-link">
                    Relatórios
                </span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/conta">
                <span class="icone icon">
                    <i class="fa fa-circle-user"></i>
                </span>
                <span class="text-link">
                    Conta
                </span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/extras">
                <span class="icone icon">
                    <i class="fa-solid fa-compass"></i>
                </span>
                <span class="text-link">
                    Extras
                </span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/settings">
                <span class="icone icon">
                    <i class="fa fa-gear"></i>
                </span>
                <span class="text-link">
                    Configurações
                </span>
            </a>
        </li>

        <li class="item-menu">
            <a href="/about">
                <span class="icone icon">
                    <i class="fa fa-circle-info"></i>
                </span>
                <span class="text-link">
                    Sobre
                </span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/logout">
                <span class="icone icon">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </span>
                <span class="text-link">
                    Sair
                </span>
            </a>
        </li>
    </ul>
</nav>
<!-- End  -->