<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/404.css">
    <title>
        <%= title %>
    </title>
</head>
<div class="container">
    <div class="copy-container center-xy">
        <p>
            404, page not found. <br> <br>
            <a href="/laboratorios" id="btn-index">Clique aqui para voltar ao inicio </a>
        </p>
        <span class="handle"></span>

    </div>
</div>

<script src="/javascripts/404.js"></script>