<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/fontawesome/css/all.css'>
    <link rel="stylesheet" href="/stylesheets/bulma/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/dashboard.css'>
</head>

<body>
    <div class="columns">
        <div class="column">
            <nav>
                <div class="sidebar-top">
                    <span class="shrink-btn">
                        <i class='fa fa-chevron-left'></i>
                    </span>
                    <img src="/images/logo_mini.png" class="logo" alt="Logo do Sistema">
                    <h3 class="hide">Gestão LAB</h3>
                </div>
                <hr>
                <div class="active-tab"></div>
                <ul class="sidebar-links">
                    <li class="link-item">
                        <a href="#"><span class="icon-text" title="Estatísticas">
                                <span class="icon"><i class="fa fa-chart-line"></i></span>
                                <span class="menu-text">Estatísticas</span>
                            </span>
                        </a>
                    </li>

                    <li class="link-item">
                        <a href="#"><span class="icon-text" title="Materiais">
                                <span class="icon"><i class="fa fa-screwdriver-wrench"></i></span>
                                <span class="menu-text">Materiais</span>
                            </span></a>
                    </li>
                    <li class="link-item">
                        <a href="#">
                            <span class="icon-text" title="Mesas">
                                <span class="icon"><i class="fa fa-desktop"></i></span>
                                <span class="menu-text">Mesas</span>
                            </span></a>
                    </li>
                    <li class="link-item">
                        <a href="#">
                            <span class="icon-text" title="Relatórios">
                                <span class="icon"><i class="fa fa-file"></i></span>
                                <span class="menu-text">Relatórios</span>
                            </span></a>
                    </li>
                    <li class="link-item">
                        <a href="#"><span class="icon-text" title="Disciplinas">
                                <span class="icon"><i class="fa fa-book"></i></span>
                                <span class="menu-text">Disciplinas</span>
                            </span></a>
                    </li>

                    <li class="link-item my_dropdown">
                        <a href="#">
                            <span class="icon-text" title="Sobre">
                                <span class="icon"><i class="fa fa-circle-info"></i></span>
                                <span class="menu-text">Sobre</span>
                            </span></a>

                        <span class="dropdown_item menu-text">
                            <a href="#">Baixar User Guide</a>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="column">

        </div>
    </div>
</body>

</html>