<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/fontawesome/css/all.css'>
    <link rel="stylesheet" href="/stylesheets/bulma/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/dashboard.css'>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item menu-icon" id="menu-toggle">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons right-menu">
                    <a>
                        <i class="fa fa-gear"></i> <span>Configurações</span>
                    </a>

                    <a href="#" class="profile">
                        <span class="icon-text">
                            <span href="#" class="icon btn-profile btn">
                                <i class="fa fa-user"></i>
                            </span>
                            <strong><span>Perfil</span></strong>
                        </span>
                    </a>

                </div>
            </div>
        </div>
    </nav>

    <div class="left_menu" id="left_menu">
        <div class="logo">
            <a href="/">
                <img src="/images/gestaolab-logo.png" alt="Logo do Gestão LAB" id="logo-sistema">
            </a>
        </div>
        <hr>
        <ul class="list_menu">
            <li class="menu_item">
                <a href="#"><span class="icon-text" title="Estatísticas">
                        <span class="icon"><i class="fa fa-chart-line"></i></span>
                        <span class="menu-text">Estatísticas</span>
                    </span>
                </a>
            </li>

            <li class="menu_item">
                <a href="#"><span class="icon-text" title="Materiais">
                        <span class="icon"><i class="fa fa-screwdriver-wrench"></i></span>
                        <span class="menu-text">Materiais</span>
                    </span></a>
            </li>
            <li class="menu_item">
                <a href="#">
                    <span class="icon-text" title="Mesas">
                        <span class="icon"><i class="fa fa-desktop"></i></span>
                        <span class="menu-text">Mesas</span>
                    </span></a>
            </li>
            <li class="menu_item">
                <a href="#">
                    <span class="icon-text" title="Relatórios">
                        <span class="icon"><i class="fa fa-file"></i></span>
                        <span class="menu-text">Relatórios</span>
                    </span></a>
            </li>
            <li class="menu_item">
                <a href="#"><span class="icon-text" title="Disciplinas">
                        <span class="icon"><i class="fa fa-book"></i></span>
                        <span class="menu-text">Disciplinas</span>
                    </span></a>
            </li>

            <li class="menu_item my_dropdown">
                <a href="#">
                    <span class="icon-text" title="Sobre">
                        <span class="icon"><i class="fa fa-circle-info"></i></span>
                        <span class="menu-text">Sobre</span>
                    </span></a>

                <span class="dropdown_item menu-text">
                    <a href="#">Baixar User Guide</a>
                </span>
            </li>
        </ul>
    </div>

    <section class="section container">
      <h3 class="title is-primary">Titulo da Pagina</h3>
    </section>

    <script src="/javascripts/dashboard.js"></script>

</body>

</html>