<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon"> <!--- Meter Favicon nas Paginas -->

    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/fontawesome/all.css'>
    <link rel="stylesheet" href="/stylesheets/bulma/css/bulma.css">
    <link rel='stylesheet' href='/stylesheets/login.css'>
</head>

<body>
    <main class="my-container">
        <section class="hero">
        </section>

        <section class="formLogin_container">
            <form action="/login" method="post" class="form" id="formLogin">
                <h1 class="title_page">Gestão LAB</h1>
                <h3 class="login_title">Acesse sua conta</h3>

                <label for="username">
                    <i class="fa fa-user"></i>
                    <input type="text" id="username" name="username" maxlength="50" placeholder="Digite o username"
                        class="campo">
                </label>
                <label for="password">
                    <i class="fa fa-key"></i>
                    <input type="password" id="password" name="password" maxlength="50" placeholder="Digite a password"
                        class="campo">
                </label>
                <button type="submit" id="btnEntrar" class="btn">Entrar</button>

                <p class="message-error">
                    <%= message%>
                </p>

                <a href="#" class="btnFogSenha">Esqueci minha password</a>

            </form>
        </section>
    </main>

    <script src="/javascripts/login.js"></script>
    <script>
        document.querySelector('#username').focus();
        
        const messageLogin = document.querySelector('.message-error');
        if (messageLogin.innerText.length == 0) {
            messageLogin.classList.add('hide');
        }
    </script>
</body>

</html>