<%- include('./partials/header.ejs')%>
    <%- include('./partials/sidebar.ejs')%>

        <main class="conteudo">
            <h1 class="title">
                <%=title%>
            </h1>
        </main>
        <script src="/javascripts/header.js" defer></script>


        <%- include('./partials/footer.ejs')%>