<%- include('./partials/header.ejs')%>
    <%- include('./partials/sidebar.ejs')%>

        <main class="conteudo">
            <h1 class="title">
                <%= title %>
            </h1>
            <a href="/perfil/add" id="btn-novo" class="button is-info">Criar usuário</a>
        </main>
        <%- include('./partials/footer.ejs')%>