<%- include('./partials/header.ejs')%>
    <%- include('./partials/sidebar.ejs')%>
        <main class="conteudo">
            <h1 class="title">
                <%=title%>

            </h1>

            <div class="section">
                <article class="out-order">
                    <i class="fa-solid fa-wrench"></i>
                    <span class="block">
                        Página em Desenvolvimento...
                    </span>
                </article>

            </div>

        </main>
        <script src="/javascripts/header.js"></script>
        <%- include('./partials/footer.ejs')%>