@keyframes is-scaling {
  to {
    transform: scale(1.05);
    opacity: 1;
  }
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.conteudo {
  width: 85vw;
  height: 92vh;
  position: absolute;
  top: 8vh;
  left: 15vw;
  /*right: 0; posicao com siebar pequeno*/

  padding: 2em;

  transition: left 0.5s ease;

  overflow-y: hidden;
}

/*
.conteudo.menor {
 posicao com sidebar grande
  left: 24.2%;
}
*/

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dash-card {
  max-width: 400px;
  width: 30%;
  height: 200px;
  padding: 1.2em;
  background-color: var(--light);
  border-radius: var(--border_rad);
  margin-right: 1.6em;
  margin-bottom: 5em;

  box-shadow: 1px 3px 7px #00000030;
  opacity: 0.7;
  transition: opacity 1s ease;
}

.dash-card:hover {
  animation: is-scaling 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;

  cursor: pointer;
}

.card-title,
.foot-title {
  display: block;
}

.card-title {
  text-align: right;
}

.card-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 5px;

  border-bottom: 2px solid #ccc;
}

.card-icon > i,
.card-icon > .quant-card {
  font-size: 3em;
}

.card-icon > i.fa-display,
.card-icon > i.fa-display + .quant-card,
.card-icon > i.fa-database,
.card-icon > i.fa-database + .quant-card,
.card-icon > i.fa-person-chalkboard,
.card-icon > i.fa-person-chalkboard + .quant-card {
  color: var(--info);
}

.card-icon > i.fa-computer,
.card-icon > i.fa-computer + .quant-card {
  color: var(--success);
}

.card-icon > i.fa-computer,
.card-icon > i.fa-computer + .quant-card {
  color: var(--success);
}

.card-icon > i.fa-desktop,
.card-icon > i.fa-desktop + .quant-card {
  color: var(--danger);
}

.card-icon > i.fa-keyboard,
.card-icon > i.fa-keyboard + .quant-card {
  color: var(--warning);
}

.foot-title {
  margin-top: 10%;
  text-align: center;
}
