
/*

#ckToggleMenu:checked ~ .sidebar {
  left: -190px;
}

#ckToggleMenu:checked ~ .profile-container {
  display: none;
}

#ckToggleMenu:checked ~ .sidebar a {
  font-size: 1em;
  margin-left: 170px;
  width: 80px;
}

#ckToggleMenu:checked ~ .content {
  left: 4.5%;
}  */

.content {
  position: absolute;
  top: 11.8%;
  left: 19.8%;

  padding: 2% 5% 2% 3%;

  width: 84vw;
  height: 90%;

  transition: left 0.5s ease;
}
