header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #23282c;
  padding: 20px;
  width: 100%;
  height: 8vh;
}

.left-area h3 {
  color: var(--light);
  text-transform: uppercase;
  font-size: 1.375em;
  font-weight: 900;
}

.left-area span {
  color: var(--color1);
  font-family: "Nice-Sugar";
}

.account {
  position: relative;
  padding: 1.6em;
  color: var(--color1);
  cursor: pointer;
  transition: color 500ms ease-in-out;
}

.account .icone i {
  font-size: 1.375em;
}

.account:hover {
  color: var(--color4);
}

.toggle-account-element {
  position: absolute;
  top: 9vh;
  right: 28px;
  width: 15.625em;
  height: auto;

  background-color: var(--dark);

  transition: all 200ms ease-in-out;

  z-index: 9999999;
}

.account-element {
  display: block;
  padding: 10px;
  background-color: #4c5054;
  color: var(--light);
  transition: all 200ms ease-in-out;
}

.account-element:first-child {
  margin-bottom: 2px;
}

.account-element .icone i {
  font-size: 0.9em;
}

.account-element a {
  display: block;
  width: 100%;
}

.account-element a .text-link {
  margin-left: 10px;
}

.account-element.link a {
  color: var(--light);
}

.account-element.link:hover {
  background-color: var(--color4);
}

.account-element#username:hover {
  cursor: default;
}

.date-display,
.lab-display {
  color: #a2a4a5;
  padding-left: 10px;
  padding-right: 10px;
}

.date-display span {
  margin-right: 5px;
}
