.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.hero {
  width: 70%;
  height: 100%;
  background-image: url("../images/hero_login.jpg");
  background-size: cover;
  background-position: center right;
}

.formLogin_container {
  background-color: #ce9d53;
  width: 30%;
  padding: 2em 0.5em;
}

.form {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h3 {
  color: var(--light);
}

input,
button {
  outline: 0;
  border: 0;
  border-radius: var(--border_rad);
}

.title_page {
  font-size: 5em;
}

.login_title {
  padding: 1.5em 0 10px;
  font-size: 2em;
}

.campo {
  margin: 0.5em;
  padding: 0.9em 1em;
  width: 85%;
}

.btn {
  margin: 0.5em;
  padding: 0.5em 3em;
  color: #8d5c13;

  cursor: pointer;
}

.fa {
  color: var(--light);
}

a.btnFogSenha {
  padding: 10px;
  color: #d2d6d9;
  font-weight: bold;
}

@media (max-width: 820px) {
  .hero {
    display: none;
  }

  .title_page {
    font-size: 2.5em;
  }

  .login_title {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 320px) {
  .campo {
    width: 80%;
  }

  .formLogin_container {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .formLogin_container {
    padding: 35% 5%;
  }
}

/*

.Natureza-1-hex { color: #8C7B26; }
.Natureza-2-hex { color: #40352C; }
.Natureza-3-hex { color: #F2CEAE; }
.Natureza-4-hex { color: #8C6954; }
.Natureza-5-hex { color: #D9A78B; }

.Natureza-1-rgba { color: rgba(140, 123, 37, 1); }
.Natureza-2-rgba { color: rgba(63, 53, 43, 1); }
.Natureza-3-rgba { color: rgba(242, 206, 174, 1); }
.Natureza-4-rgba { color: rgba(140, 104, 84, 1); }
.Natureza-5-rgba { color: rgba(216, 167, 138, 1); }

.Natureza-1-hsla { color: hsla(50, 57, 34, 1); }
.Natureza-2-hsla { color: hsla(28, 18, 21, 1); }
.Natureza-3-hsla { color: hsla(28, 72, 81, 1); }
.Natureza-4-hsla { color: hsla(22, 25, 44, 1); }
.Natureza-5-hsla { color: hsla(22, 50, 69, 1); } */
