.menu-lateral {
  width: 70px;
  height: 100%;
  background-color: var(--dark);
  padding: 40px 0 40px 1%;

  box-shadow: 6px 0 0 var(--color1);

  overflow: hidden;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  /*colocar o menu-lateral Fixo
  position: fixed;
  top: 0;
  left: 0; */
}

.menu-lateral.expandido {
  width: 300px;
}

.btn-menu {
  width: 100%;
  padding-left: 10px;
}

.btn-menu > i {
  /*Chama o elemento dentro dele*/
  color: var(--light);
  font-size: 24px;

  cursor: pointer;
}

ul {
  height: 100%;
}

li.item-menu:first-child {
  margin-top: 20px;
}

li.item-menu {
  transition: all 0.2s;
}

li.item-menu:hover {
  background-color: var(--color1);

  border-top-left-radius: var(--border_rad);
  border-bottom-left-radius: var(--border_rad);
}

.active-item {
  background-color: var(--color1);
  border-top-left-radius: var(--border_rad);
  border-bottom-left-radius: var(--border_rad);
}

.item-menu a {
  color: var(--light);
  font-size: 20px;
  padding: 10px 4%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-menu a .icone > i {
  font-size: 30px;
  margin-left: 10px;
}

.item-menu a .text-link {
  margin-left: 70px;
  transition: 1s;
  opacity: 0;
}

.menu-lateral.expandido .text-link {
  margin-left: 40px;
  opacity: 1;
}
