@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 100%;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Nice-Sugar";
  src: url("../fonts/Nice-Sugar.otf");
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

a:active,
button:active {
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(0.9);
}

:root {
  --danger: #dc3545;
  --warning: #ffc107;
  --success: #28a745;
  --info: #3e8ed0;
  --light: #f8f9fa;
  --dark: #343a40;

  --color1: #cf9d53;
  --color2: #f7d9ad;
  --color3: #f5ba62;
  --color4: #ab9678;
  --color5: #c2934e;

  --font_bold: "Roboto-Bold", sans-serif;
  --font_regular: "Roboto-Regular", sans-serif;
  --font_light: "Roboto-Light", sans-serif;

  --border_rad: 6px;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

html{
  height: 100vh;
}

body {
  width: 100vw;
  height: 100%;
  font-family: var(--font_regular);
  font-size: 16px;
  color: var(--dark);

  overflow-y: hidden;
}

h1.title {
  color: var(--color5);
  border-bottom: 1px solid #ccc;

  font-family: var(--font_regular);
}

.top-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 0.3125em;
  margin-bottom: 2em;
  border-radius: var(--border_rad);
  background-color: #fff;

  outline: 1px solid var(--info);
}

.search-area .input-search {
  border: 0;
  outline: 0;
  height: 100%;
  padding: 5px 10px;
  border-radius: var(--border_rad);

  width: 90%;
}

.btn-search {
  outline: 0;
  border: 0;
  background-color: transparent;
  color: var(--info);
  font-size: 1.4em;

  transition: color 0.5s ease;

  cursor: pointer;
}

.btn-search:hover {
  color: #0f7686;
}

.btn-search:active {
  color: #0f7686;
}

@keyframes abrirModal {
  from {
    transform: translate3d(0, -100%, -5px);
    /* Modal entra de cima*/
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.modal.is-active {
  animation-name: abrirModal;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  font-family: var(--font_regular);
}

button.button.is-primary {
  background-color: var(--color3);
  transition: background-color 1s;
}

button.button.is-primary:hover {
  background-color: var(--color5);
}

p.modal-card-title {
  color: var(--color1);
}

.table {
  font-family: var(--font_regular);
}

.table .grid-title {
  background-color: #fff8ee;
  font-size: 0.9em;
  padding: 0.43rem;
}

.grid-data {
  text-align: center;
  font-size: 0.8em;
  padding: 0.43em 0;
  width: auto;
}

.grid-data span.actions-list a,
.grid-data span.actions-list form {
  padding: 0.3em;
}

.grid-data span.actions-list form {
  display: inline;
}

.grid-data span.actions-list form button > i.fa-trash {
  color: var(--danger);
}

.grid-data span.actions-list form button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.grid-data span.actions-list a > i.fa-edit {
  color: var(--warning);
}

.grid-data span.actions-list a > i.fa-eye {
  color: var(--info);
}

span.actions-list a:hover,
.grid-data span.actions-list form button:hover {
  opacity: 0.8;
}

button#btnLimparGrid {
  float: right;
  margin-top: 1em;
}

a.pagination-link.is-current {
  background-color: var(--info);
  border-color: var(--info);
}

/* Responsividade manual em tabelas

@media screen and (max-width: 480px) {
  .grid-table thead {
    display: none;
  }

  .grid-table tbody td {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1200px) {
  Responsividade das colunas dependendo dos dados
  .grid-table tbody tr td:nth-child(1) {
    width: 30%;
  }

  .grid-table tbody tr td:nth-child(2) {
    width: 10%;
  }

  .grid-table tbody tr td:nth-child(3) {
    width: 10%;
  }

  .grid-table tbody tr td:nth-child(4) {
    width: 5%;
  }

  .grid-table tbody tr td:nth-child(5) {
    width: 5%;
  }

  .grid-table tbody tr td:nth-child(6) {
    width: 20%;
  }

  .grid-table tbody tr td:nth-child(7) {
    width: 5%;
  }

  .grid-table tbody tr td:nth-child(8) {
    width: 5%;
  }

  .grid-table tbody tr td:nth-child(9) {
    width: 10%;
  }
}*/

footer.modal-card-foot {
  background-color: transparent;
}

.alert-err {
  width: auto;
  height: auto;
  background-color: rgb(255, 220, 216);
  color: var(--danger);

  text-align: center;
  padding: 2px;
  border-radius: var(--border_rad);
}

.message-alert {
  animation: coming 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.alert-success {
  width: 300px;
  height: auto;
  background-color: rgb(233, 255, 216);
  color: var(--success);

  text-align: center;
  padding: 10px;
  border-radius: var(--border_rad);
}

.hide {
  display: none;
}
label.user-label {
  display: inline-block;
  width: 160px;
  vertical-align: middle;
}

input.input.input-add {
  width: 60%;
  display: inline-block;

  margin-bottom: 1em;
}

.right {
  margin-right: 24.2%;
  float: right;
}

.div_centro {
  padding-left: 10%;
}

@keyframes coming {
  75% {
    width: 120px;
    height: 0;
    padding: 0;
    color: transparent;
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.ver-body {
  display: flex;
  justify-content: flex-start;
}

.foto-material,
.foto-mesa {
  background-color: #999a9b;
  background-image: url("../images/gestaolab-logo.png");
  background-size: cover;
  border: 2px solid #ab9678;
  border-radius: var(--border_rad);
  width: 25%;

  font-size: 0.9em;
  color: var(--light);

  display: flex;
  align-items: center;
  justify-content: center;
}

.descricao {
  width: 75%;
  padding: 1em;
}

.desc-campo {
  display: block;
  font-size: 0.9em;
  font-weight: lighter;
}

div.ver-observacoes {
  /*Fazer com ela deixe de Quebrar*/
  height: auto;
  color: #999a9b;
}

.desc-campo > span {
  color: #999a9b;
}

p.oculto {
  display: none;
}

.message-box {
  display: inline-block;
  position: absolute;
  top: 90%;
  left: 1%;
  width: 300px;
  height: 50px;
  padding: 10px;
  background-color: var(--success);
  color: #ffffff;
  border-radius: var(--border_rad);

  animation-name: vindoLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.message-box span {
  padding: 5px;
}

.perfil-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
  padding: 1em;
  border-radius: var(--border_rad);
}

.perfil-quick {
  width: 20%;
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
}

.perfil-detail {
  width: 80%;
}

.perfil-quick,
.perfil-detail {
  border-radius: var(--border_rad);
  height: 100%;
  padding: 1em;
  background-color: var(--light);
  box-shadow: 1px 1px 7px #00000030;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 100%;
  background-color: #e6e1e1;
}

.button-container a.button {
  width: 100%;
  background-color: var(--color3);
  transition: 500ms ease-in-out;
}

.button-container a.button:hover {
  background-color: var(--color5);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 10px 0;
}

.username {
  font-weight: 700;
}

span.block,
.tipo_conta {
  color: #75757575;
}

.label-perfil {
  color: #4f4f4f;
}

/* Estilos para o loader */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 200px;
}

.out-order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.out-order i {
  font-size: 12em;
}

.out-order span {
  font-size: 2em;
}

.user-guide a {
  padding-left: 10px;
  color: #4f4f4f;
  transition: 1s ease;
}

.user-guide a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  background-color: var(--light);
}

.my-loader {
  width: 5em;
  height: 5em;
  border: 3px solid var(--color3);
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;

  border-radius: 100%;

  animation: spin 1s infinite linear;
}

#btn-print {
  font-size: 1.2em;
  padding: 0.5em;
  outline: none;
  border: none;
  color: var(--color3);
  border-radius: var(--border_rad);

  background-color: transparent;

  cursor: pointer;
}

.alterarSenha-title {
  color: var(--color3);
  font-weight: 700;
  font-size: 1.5em;
}

.section-laboratorio {
  width: 100%;
}

.form-lab-container label {
  display: none;
}

.form-lab-container .input {
  display: inline-block;
  margin-bottom: 1em;
}

li.lab-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

li.lab-item:not(:first-child) {
  border-top: 1px solid #15151521;
}

span.item-title {
  max-width: 250px;
  width: 50%;
}

span.item-content {
  width: 50%;
  text-align: right;
  color: #a6a6a6;
}

.lab-card-container {
  width: 100%;
  display: flex;
  
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  overflow-y: visible;
}

.lab-card-container .card {
  width: 90%;
  margin-bottom: 1.5em;
}

.conteudo#ConteudoLaboratorio {
  overflow-y: visible;
}

/* Animação do loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes vindoLeft {
  from {
    transform: translate3d(0, 100%, 5px);
    /* Modal entra de cima*/
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
