@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 100%;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Nice-Sugar";
  src: url("../fonts/Nice-Sugar.otf");
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

button:active {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translate(0, -3px);
}

:root {
  --danger: #dc3545;
  --warning: #ffc107;
  --success: #28a745;
  --info: #3e8ed0;
  --light: #f8f9fa;
  --dark: #343a40;

  --color1: #cf9d53;
  --color2: #f7d9ad;
  --color3: #f5ba62;
  --color4: #ab9678;
  --color5: #c2934e;

  --font_bold: "Roboto-Bold", sans-serif;
  --font_regular: "Roboto-Regular", sans-serif;
  --font_light: "Roboto-Light", sans-serif;

  --border_rad: 6px;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--font_light);
  font-size: 16px;
  color: var(--dark);

  background-color: #f5fafb;
  overflow-y: hidden;
}

h1.title {
  color: var(--color5);
  border-bottom: 1px solid #ccc;

  font-family: var(--font_regular);
}

.top-elements {
  width: 78vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 5px 5px;
  border-radius: var(--border_rad);
  background-color: #fff;

  outline: 1px solid var(--info);
}

.search-area .input-search {
  border: 0;
  outline: 0;
  height: 100%;
  padding: 5px 10px;
  border-radius: var(--border_rad);

  width: 90%;
}

.btn-search {
  outline: 0;
  border: 0;
  background-color: transparent;
  color: var(--info);
  font-size: 1.4em;

  transition: color 0.5s ease;

  cursor: pointer;
}

.btn-search:hover {
  color: #0f7686;
}

.btn-search:active {
  color: #0f7686;
}

@keyframes abrirModal {
  from {
    transform: translate3d(0, -100%, -5px);
    /* Modal entra de cima*/
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.modal.is-active {
  animation-name: abrirModal;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  font-family: var(--font_regular);
}

button#btnGuardar {
  background-color: var(--color3);
  transition: background-color 1s;
}

button#btnGuardar:hover {
  background-color: var(--color5);
}

p.modal-card-title {
  color: var(--color1);
}

.grid-container {
  position: absolute;
  top: 30%;
  left: 0;

  padding: 1.6em;
}

.grid-table {
  margin: auto;
  max-width: 100%;
  width: 62.8em;

  font-family: var(--font_regular);
}

.grid-title {
  font-size: 0.9em;
}

.grid-data {
  text-align: center;
  font-size: 0.8em;
  text-indent: 1%; /*Tentar alinhar dados na tabela*/
  width: auto;

  border-collapse: collapse;
}

tbody.grid-body tr:nth-child(odd) {
  background-color: #fff8ee;
}

.grid-data span.actions-list a {
  padding: 0.3em;
}

.grid-data span.actions-list a > i.fa-trash {
  color: var(--danger);
}

.grid-data span.actions-list a > i.fa-edit {
  color: var(--warning);
}

.grid-data span.actions-list a > i.fa-eye {
  color: var(--info);
}

span.actions-list a:hover {
  opacity: 0.8;
}

button#btnLimparGrid {
  float: right;
}
