@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 100%;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Nice-Sugar";
  src: url("../fonts/Nice-Sugar.otf");
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

button:active {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translate(0, -3px);
}

:root {
  --danger: #dc3545;
  --warning: #ffc107;
  --success: #28a745;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;

  --color1: #cf9d53;
  --color2: #f7d9ad;
  --color3: #f5ba62;
  --color4: #ab9678;
  --color5: #c2934e;

  --font_bold: "Roboto-Bold", sans-serif;
  --font_regular: "Roboto-Regular", sans-serif;
  --font_light: "Roboto-Light", sans-serif;

  --border_rad: 6px;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--font_light);
  font-size: 16px;
  color: var(--dark);

  background-color: #f0fcff;
  overflow-y: hidden;
}
